/* 表示 */
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
img {
    width: 50px;
}
.header {
    padding: 10px;
    height: 70px;
    background-color: #B4BD4F;
}
.top {
    padding: 20px;
    text-align: center;
    z-index: 1;
}

/* 非表示 */
.close {
    display: none;
}
.menu {
    display: none;
}
.category {
    width: 30vw;
    height: 100vh;
    top: 70px;
    background-color: white;
    position: fixed;
    z-index: 3;
}
.background {
    width: 100vw;
    height: 100vh;
    top: 70px;
    background-color: gray;
    position: fixed;
    opacity: 0.3;
    z-index: 2;
}